.shadow_black{
    background-color:black;
    border-radius: 16px;
     
     box-shadow: inset 0px 2px  15px 5px rgb(105, 32, 32);
    width: 400px;
    height: 540px;
   animation: shadowmagic 1s linear infinite ;
}

@keyframes shadowmagic {
    
    20%{
        box-shadow: inset 0px 0px  10px 0px rgba(152, 12, 45, 0.922); 
    }
   
    60%{
        box-shadow: inset 0px 0px  100px 0px rgba(49, 165, 26, 0.717); 
    }
    80%{
        box-shadow: inset 0px 0px  60px 0px rgba(192, 23, 62, 0.689); 
    }
    100%{
        box-shadow: inset 0px 0px  100px 0px rgba(27, 27, 27, 0.731); 
    }
}