.sign_up_btn{

    padding: 5px;
    border-radius: 4px;
    background-color: #1be375b5;
    color:var(--grey-50);
    transition: all 0.3s ease-in-out;
    outline: none;
    border: none;
    position: relative;
   
    width: 70px;
    margin-left: 15px;

    

  
}
.sign_up_btn:hover{
   transform: scale(1.1);
 
}

.searchicon{
    color: white;
}
