
.user_name{
    color: aliceblue;
    margin: 4px;
}
.user_profile_{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    position: absolute;
    right: 0;
     top: 80px;
    z-index: 999;
    align-items: center;
    border-radius: 20px;
      animation: slidUsercard 0.5s   alternate;
    background-color: rgba(8, 8, 8, 0.893);
}


@keyframes slidUsercard {
    
    0%{
        transform: translate(200px);
       
    }
    100%{
        transform: translate(0px );
      
    }
}

.user_profile_ h3{
    color: rgb(47, 135, 231);
   
}

.place_below{
    margin-top: 20px;
}

.user_profile_icon{
    margin-top: 12px !important;
}
    
